.Card__Btn {
    height: 3.4375rem;
    width: 325px;
    border-radius: 3.375rem;
    background: var(--clr-neutral-dark-gray-blue);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--clr-neutral-white);
    margin-top: 0.5rem;
}