@font-face {
    font-family: "Hanken Grotesk";
    src: url("../Hanken_Grotesk/static/HankenGrotesk-Regular.ttf");
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("../Hanken_Grotesk/static/HankenGrotesk-Bold.ttf");
}