@font-face {
  font-family: "Hanken Grotesk";
  src: url("../Hanken_Grotesk/static/HankenGrotesk-Regular.ttf");
}
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

ul,
ol,
ul[role=list],
ol[role=list] {
  list-style: none;
  list-style-type: none;
  text-rendering: optimizeLegibility;
}

a,
button {
  border: none;
  outline: none;
  user-select: none;
  cursor: pointer;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

:root {
  --clr-primary-Light-red: hsl(0, 100%, 67%);
  --clr-primary-Orangey-yellow: hsl(39, 100%, 56%);
  --clr-primary-Green-teal: hsl(166, 100%, 37%);
  --clr-primary-Cobalt-blue: hsl(234, 85%, 45%);
  --clr-gradients-Light-slate-blue: hsl(252, 100%, 67%);
  --clr-gradients-Light-royal-blue: hsl(241, 81%, 54%);
  --clr-gradients-violet-blue: hsl(256, 72%, 46%);
  --clr-gradients-Persian-blue: hsla(241, 72%, 46%, 0);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-dark-gray-blue: hsl(224, 30%, 27%);
  --spc-margin-25: 25px;
  --spc-border-10: 10px;
  --spc-border-17: 17px;
}

.Row {
  height: 3.4375rem;
  width: 325px;
  border: var(--spc-border-10);
  margin-bottom: 1.0625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px;
  background: var(--clr-neutral-dark-gray-blue);
  border-radius: var(--spc-border-10);
}
.Row--Left {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.Row__icon {
  width: 1.0625rem;
  height: 1.0625rem;
}
.Row__Text {
  font-size: 1rem;
  font-weight: 700;
}
.Row--Right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.Row--Right span:nth-child(1) {
  color: var(--clr-neutral-dark-gray-blue);
}
.Row--Right span:nth-child(2),
.Row--Right span:nth-child(3) {
  color: var(--clr-neutral-light-lavender);
}

.Card__Note--Reaction {
  color: var(--clr-primary-Light-red);
  background-color: hsla(0, 100%, 67%, 0.2);
}
.Card__Note--Memory {
  color: var(--clr-primary-Orangey-yellow);
  background-color: hsla(39, 100%, 56%, 0.2);
}
.Card__Note--Verbal {
  color: var(--clr-primary-Green-teal);
  background-color: hsla(166, 100%, 37%, 0.2);
}
.Card__Note--Visual {
  color: var(--clr-primary-Cobalt-blue);
  background-color: hsla(234, 85%, 45%, 0.2);
}

.Card__Btn {
  height: 3.4375rem;
  width: 325px;
  border-radius: 3.375rem;
  background: var(--clr-neutral-dark-gray-blue);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--clr-neutral-white);
  margin-top: 0.5rem;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.875rem;
}
@media screen and (min-width: 1440px) {
  .Card {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 30ms ease-in;
  }
}
.Card__Container {
  border-radius: 2.5rem;
  box-shadow: 0 0 30px 10px var(--clr-neutral-pale-blue);
}
@media screen and (min-width: 1440px) {
  .Card__Container {
    display: flex;
  }
}
.Card__Header {
  width: 23.4375rem;
  height: 22.3125rem;
  background: linear-gradient(to bottom, var(--clr-gradients-Light-slate-blue), var(--clr-gradients-Light-royal-blue));
  border-radius: 0rem 0rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}
@media screen and (min-width: 1440px) {
  .Card__Header {
    height: 32.125rem;
    justify-content: center;
    border-radius: 1.875rem;
    transition: 30ms ease-in;
  }
}
.Card__Results {
  margin-top: var(--spc-margin-25);
  color: var(--clr-neutral-light-lavender);
  margin-bottom: var(--spc-margin-25);
  font-size: 1.125rem;
  font-weight: 700;
}
.Card__Marks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 8.75rem;
  width: 8.75rem;
  background: linear-gradient(to bottom, var(--clr-gradients-violet-blue), var(--clr-gradients-Persian-blue));
  border-radius: 8.75rem;
  margin-bottom: var(--spc-margin-25);
}
.Card__Marks--users {
  font-size: 2.5rem;
  color: var(--clr-neutral-white);
  font-weight: 900;
}
.Card__Marks--Total {
  font-size: 1.125rem;
  color: var(--clr-neutral-light-lavender);
}
.Card__Grade {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Card__Grade--Appreciation {
  font-size: 1.125rem;
  color: var(--clr-neutral-white);
  font-weight: 700;
}
.Card__Grade--Description {
  font-size: 1rem;
  width: 16.5625rem;
  text-align: center;
  font-weight: 500;
  color: var(--clr-neutral-light-lavender);
}
.Card__Summary {
  padding: var(--spc-margin-25);
  width: 23.4375rem;
  border: 2px black;
}
@media screen and (min-width: 1440px) {
  .Card__Summary {
    height: 32.125rem;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 30ms ease-in;
    border-radius: 1.875rem;
  }
}
.Card__Title {
  font-size: 1.125rem;
  color: var(--clr-neutral-dark-gray-blue);
  font-weight: 700;
  margin-bottom: var(--spc-margin-25);
}/*# sourceMappingURL=style.css.map */