.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.875rem;
    
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        transition: 30ms ease-in;
    }
    
    &__Container {
        border-radius: 2.5rem;
        box-shadow: 0 0 30px 10px var(--clr-neutral-pale-blue);

        @media screen and (min-width: 1440px) {
            display: flex;
        }
    }

    &__Header {
        width: 23.4375rem;
        height: 22.3125rem;
        background: linear-gradient(to bottom, var(--clr-gradients-Light-slate-blue), var(--clr-gradients-Light-royal-blue));
        border-radius: 0rem 0rem 1.875rem 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Hanken Grotesk', sans-serif;

        @media screen and (min-width: 1440px) {
            height: 32.125rem;
            justify-content: center;
            border-radius: 1.875rem;
            transition: 30ms ease-in;;
        }
    }
    
    &__Results {
        margin-top: var(--spc-margin-25);
        color: var(--clr-neutral-light-lavender);
        margin-bottom: var(--spc-margin-25);
        font-size: 1.125rem;
        font-weight: 700;
    }

    &__Marks {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .75rem;
        height: 8.75rem;
        width: 8.75rem;
        background: linear-gradient(to bottom, var(--clr-gradients-violet-blue), var(--clr-gradients-Persian-blue));
        border-radius: 8.75rem;
        margin-bottom: var(--spc-margin-25);

        &--users {
            font-size: 2.5rem;
            color: var(--clr-neutral-white);
            font-weight: 900;
        }

        &--Total {
            font-size: 1.125rem;
            color: var(--clr-neutral-light-lavender);
        }
    }

    &__Grade {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &--Appreciation {
            font-size: 1.125rem;
            color: var(--clr-neutral-white);
            font-weight: 700;
        }

        &--Description {
            font-size: 1rem;
            width: 16.5625rem;
            text-align: center;
            font-weight: 500;
            color: var(--clr-neutral-light-lavender);
        }
    }


    &__Summary {
        padding: var(--spc-margin-25);
        width: 23.4375rem;
        border: 2px black;

        @media screen and (min-width: 1440px) {
            height: 32.125rem;
            justify-content: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            transition: 30ms ease-in;
            border-radius: 1.875rem;
        }
    }

    &__Title {
        font-size: 1.125rem;
        color: var(--clr-neutral-dark-gray-blue);
        font-weight: 700;
        margin-bottom: var(--spc-margin-25);
    }
}